
body {
  background: radial-gradient(ellipse at top, #210440, transparent),
              radial-gradient(ellipse at left, #E5958E, transparent),
              radial-gradient(ellipse at bottom, #9198e5, transparent);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito';
  color: #fff;
}

p {
  color: #FFF;
}

.container-fluid {
  padding: 7% 15%;
}

/*title*/
#title {
  padding: 3% 15% 7%;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 0%;
}

/*--Navigation Bar--*/
.navbar {
  padding: 0 0;
}

.navbar-brand {
  font-family: 'DM Serif Display';
  font-size: 3rem;
  
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-family: 'Raleway';
  font-size: 1rem;
  color: #fff;
}

/*--Introductions--*/
.intro h1 {
  font-family: 'Space Mono';
}

.terminal .fa {
  color: #FFF;
}

/*--Social Meida Links--*/
.social-icon ion-icon {
  font-size: 25px;
  color: #FFBA00;
  padding-right: 10px;
}

.social-icon ion-icon:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

/*--Work/Services--*/
.work {
  padding: 3% 15% 3%;
}

.work h2 {
  text-align: center;
  padding-bottom: 20px;
}

.card {
  border: 2px solid #fff;
  width: 15rem;
  height: 15rem;
  font-family: 'Nunito';
  border-radius: 10%;
  background: none;
  margin: 0 auto;
  float: none;
  margin-bottom: 30px;
}

.card-body ion-icon {
  font-size: 25px;
  color: #FFBA00;
}

.card-text{
  text-align: left;
}

/*--About Me--*/
#about {
  text-align: left;
  color: #FFF;
}

#about .row {
  align-items: center;
}

#about .container-fluid {
  padding: 3% 15% 7%;
  font-family: 'Nunito';
}

.bg-circle {
  background: #E5958E;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.profile-image {
  width: 100%;
  border-radius: 100%;
  padding-left: 10%;
  margin-left: 10%;
}

/*--Scroll to Top Button--*/
.scrollToTopBtn {
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 50px;
  line-height: 48px;
  width: 48px;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}